body {
    font-family: 'Comfortaa', cursive;
}

#score {
    font-size: 1.5rem;
    font-weight: 300;
}

#btnBar button.btn {
    width: 100%;
    height: 2rem;
    font-size: .7rem;
    
}

#highest {
    width: 100%;
} 

#highScoreSelect {
    padding: .75rem;
}

#btnBar button:hover{
    padding: .3em;
    border-color: red;
    box-shadow: 0 0 .5em .02em red;
    transform: translateY(-0.1em);
    transition-duration: .15s;
}

.ref {
    font-size: .7em;
}

.card-body {
    padding-top: 0em;
}